.svg-git {
  fill: #151513;
  color: #fff;
  position: fixed;
  border: 0;
  height: 12vmin;
  transform: rotate(270deg);
}

.octo-arm {
  transform-origin: 130px 106px;
  fill: currentColor;
}

.octo-body {
  fill: currentColor;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner {
  position: absolute;
  top: -1px;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
