@import 'libs/bootstrap/bootstrap';
@import 'variable/variables';
@import 'mixins/mixins';
@import 'libs/animate/animate';
@import 'libs/slick/slick';
@import 'start-styles';
@import 'blocks/massage';
@import 'blocks/loader';
@import 'blocks/modals';
@import 'blocks/git-link';
@import 'blocks/arrow-up';

.animated {
  animation-duration: 2s;
}

.show-modal {
  display: block;
}

.slick-slide:hover {
  cursor: pointer;
}