@import 'libs/bootstrap/bootstrap';
@import 'variable/variables';
@import 'mixins/mixins';
@import 'libs/animate/animate';
@import 'libs/slick/slick';
@import 'start-styles';


.animated {
  animation-duration: 2s;
}

.show-modal {
  display: block;
}

.slick-slide:hover {
  cursor: pointer;
}